Release_MD/
Release/
Debug/
x64/
ipch/
GeneratedFiles/

.DS_Store
*.xcodeproj
moc_*.cpp
qrc_*.cpp
moc_*.h


#cmake
/cmbuild/
/build/
/build32/
/build64/
/release/
/release32/
/release64/
/debug/
/debug32/
/debug64/
/builds/
.vs/
*.o.d
*.ninja
.ninja*
.dirstamp

debug/
release/
.qmake.stash
.vscode
*.sln
*.vcxproj
*.vcxproj.filters
*.pro.user
*.vcxproj.user
*.pro.user
ui_*.h
